<ion-view title="About">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header padding">
    <h1>About</h1>
    <p>This app was built by @<a class="link-out" href="http://twitter.com/gregavola">gregavola</a> using <a class="link-out" href="http://ionicframework.com/" target="_blank">Ionic</a> and <a href="http://angularjs.com/" class="link-out" target="_blank">AngularJS</a></p>
    <p>You can find all the source code up on at Github at <a class="link-out" href="http://github.com/gregavola/IonicIronIO">http://github.com/gregavola/IonicIronIO</a>
    <button type="submit" ng-click="logOut();" class="bump button button-block button-assertive">
		Log Out
	</button>
  </ion-content>
</ion-view>
